@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff1a;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #FFFFFF66;
    border-radius: 100vh;
    opacity: 0.2;
  }
}